# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
#*.so
#*.dll
#*.dylib

# Qt-es

object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# Qt unit tests
target_wrapper.*


# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user*

#
/bin/log
/bin/plugins
/bin/qml
/bin/meta
/bin/bearer
/bin/iconengines
/bin/imageformats
/bin/platforms

/bin/d3dcompiler_*.*
/bin/opengl*
/bin/lib*GL*
/bin/Qt*.dll
/bin/DataStudio*
/bin/jchart*
/bin/jwt*
/bin/jencrypt*
/bin/jutraledit*
/bin/log4cpp*
/bin/qwt*
/bin/tinyxml*
/bin/icdchart*
/bin/icdcomm*
/bin/icdcore*
/bin/icdparser*
/bin/icdwidget*
/bin/icdworker*
/bin/pcomm*

/include/core
/lib/core
/release
/config/~*
Thumbs.db

/setup/pack/bin
/setup/pack/packages/com.smartsoft*/**/data
