/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
    font-family: 'Microsoft Yahei';
}

html,
body {
  margin: 0;
  height: 100%;
  background: "#666";
  font-family: 'Microsoft Yahei';
}
