<div>
 
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span hidden>Data Studio</span>
      <button mat-button><a routerLink="prefer">{{'app.toolbar.prefer'|translate}}</a></button>
      <button mat-button><a routerLink="editor">{{'app.toolbar.editor'|translate}}</a></button>
      <button mat-button><a routerLink="monitor">{{'app.toolbar.monitor'|translate}}</a></button>
      <button mat-button><a routerLink="simulator">{{'app.toolbar.simulator'|translate}}</a></button>
      <button mat-button><a routerLink="analyse">{{'app.toolbar.analyse'|translate}}</a></button>
      <span class="app-spacer"></span>
      <button mat-button><a routerLink="about">{{'app.toolbar.about'|translate}}</a></button>
      <button mat-button>{{'app.toolbar.services'|translate}}</button>
      <button mat-button>{{'app.toolbar.concat'|translate}}</button>
    </mat-toolbar-row>
  </mat-toolbar>

  </div>
  
  <router-outlet></router-outlet>